@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

html{
    margin: 0;
}

body{
    background: url(https://wallpapercave.com/wp/wp3348587.jpg);
    text-align: center;
    background-size: cover;
    font-family: Roboto;
}

h1{
    margin-top: 40px;
    margin-bottom: 30px;
    color: goldenrod;
    font-size: 30px;
}

p{
    color: white;
    font-weight: 600;
    font-size: 25px;
    margin: 20;
}

#message-el{
    font-style: italic;
}

button{
    margin-top: 30px;
    background: goldenrod;
    border: none;
    width: 200px;
    padding: 10px 0px;
    color: #00451f;
    font-weight: 800;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.1s;
}
button:hover{
    background-color: rgb(177, 160, 60);
    color: white;
}